<!--Headline Starts-->
<section class="headline">
    <div class="row">
        <app-wdg-federation [size]="4"></app-wdg-federation>
    </div>
</section>

<!-- Featured players Starts-->
<section id="hover-effects" class="featured-competition">
    <div class="row text-left">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">{{ 'Competitions' | translate }}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/05.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/05.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/05.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/05.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top img-fluid" src="assets/img/photos/05.jpg" alt="Card image cap" />
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Featured players Ends-->
