<app-fafa-container>
    <app-fafa-container-header>
        <fafa-breadcrumb [items]="breadcrumb"></fafa-breadcrumb>
    </app-fafa-container-header>
    <app-fafa-container-content>
        <mat-progress-bar *ngIf="competitions.length<1" mode="indeterminate"></mat-progress-bar>
        <div class="competition featured" *ngIf="competitions.length>0">
            <div class="row">
                <h3 class="mdc-typography--headline5"> {{ 'Featured competitions' | translate }}</h3>
            </div>
            <div class="row--comp">
                <ng-container *ngFor="let competition of competitions">
                    <a class="link-competition" (click)="activeCompetition(competition)">
                        <div class="mdc-card">
                            <div class="mdc-card__primary-action">
                                <div class="mdc-card-media">
                                    <figure class="competition">
                                        <img src="{{ prepareImageSrc(competition.image) }}">
                                    </figure>
                                </div>
                                <div class="card-primary">
                                    <h3 class="mdc-typography mdc-typography--headline6">{{competition.name}}</h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </ng-container>
            </div>
        </div>
        <div class="federation">
            <div class="row">
                <h3 class="mdc-typography--headline5"> {{ 'Federations' | translate }}</h3>
            </div>
            <div class="row">
                <app-wdg-federation [size]="4"></app-wdg-federation>
            </div>
        </div>

    </app-fafa-container-content>
</app-fafa-container>






