.fafa-container {
  padding: 12px 12px 20px 12px;
  border-radius: 0 0 20px 20px;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.14), 3px 3px 6px rgba(0,0,0,0.18);
  .container-content {
    //padding: 12px 12px;
  }
}
