<section class="main">
    <div class="divTable">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead"></div>
                <div class="divTableHead">{{ 'Played' | translate }}</div>
                <div class="divTableHead">{{ 'Won' | translate }}</div>
                <div class="divTableHead">{{ 'Draws' | translate }}</div>
                <div class="divTableHead">{{ 'Lost' | translate }}</div>
                <div class="divTableHead">{{ 'GF' | translate }}</div>
                <div class="divTableHead">{{ 'GC' | translate }}</div>
                <div class="divTableHead">{{ 'GD' | translate }}</div>
                <div class="divTableHead">{{ 'Points' | translate }}</div>
            </div>
        </div>
        <div class="divTableBody">
            <div class="divTableRow">
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
                <div class="divTableCell">&nbsp;</div>
            </div>
        </div>
    </div>
    <!-- DivTable.com -->
    <ngx-datatable>

    </ngx-datatable>
</section>
