<app-fafa-container>
    <app-fafa-container-header>
        <fafa-breadcrumb [items]="breadcrumb"></fafa-breadcrumb>
    </app-fafa-container-header>
    <app-fafa-container-content>
        <section>
            <mat-progress-bar *ngIf="!country" mode="indeterminate"></mat-progress-bar>
            <div class="row" *ngIf="country">
                <div class="col-sm-4 col-12">
                    <app-country-card [country]="country"></app-country-card>
                </div>
                <div class="col-sm-4 col-12">
                    <div class="component-wrapper">
                        <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">
                            <li class="mdc-list-item" tabindex="0">
                                <mat-chip color="primary" selected>14</mat-chip>
                                <span class="mdc-list-item__text">
                                    <span class="mdc-list-item__primary-text">World cup participation</span>
                                </span>
                            </li>
                            <li class="mdc-list-item" tabindex="1">
                                <mat-chip color="primary" selected>4</mat-chip>
                                <span class="mdc-list-item__text">
                                    <span class="mdc-list-item__primary-text">World cup champions</span>
                                </span>
                            </li>
                            <li class="mdc-list-item" tabindex="2">
                                <mat-chip color="primary" selected>8</mat-chip>
                                <span class="mdc-list-item__text">
                                    <span class="mdc-list-item__primary-text">Ranking</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4 col-12">
                </div>
            </div>
        </section>
        <section id="competition" class="country-competition">
            <div class="row">
                <div class="row">
                    <h3 class="mdc-typography--headline5"> {{ 'Competitions' | translate }}</h3>
                </div>
            </div>
            <div class="row" *ngFor="let row of competitions | chunk: 6">
                <div class="col-sm-2 col-12" *ngFor="let competition of row">
                        <div class="card-wrapper">
                            <div class="mdc-card">
                                <a class="link-competition" (click)="navigateCompetition(competition)">
                                    <div class="mdc-card__primary-action">
                                        <div class="mdc-card__media mdc-card__media--square"
                                             [style.backgroundImage]="'url(' + (competition.image | imageSrc) + ')'">
                                        </div>
                                        <div class="card__primary">
                                            <h2 class="card__title mdc-typography mdc-typography--headline5">{{competition.name}}</h2>
                                        </div>
                                    </div>
                                </a>
                                <div class="mdc-card__actions">
                                    <mat-slide-toggle
                                            (change)="featuring($event, competition)"
                                            [color]="'primary'"
                                            [checked]="competition.isFeatured">
                                        {{ 'Featured' | translate }}
                                    </mat-slide-toggle>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>

        <section id="international" class="country-international">
            <div class="row">
                <div class="row">
                    <h3 class="mdc-typography--headline5"> {{ 'National teams' | translate }}</h3>
                </div>
            </div>
            <div class="row" *ngFor="let row of teams | chunk: 6">
                <div class="col-sm-2 col-12" *ngFor="let team of row">
                    <div class="card-wrapper">
                        <div class="mdc-card">
                            <div class="mdc-card__primary-action">
                                <div class="mdc-card__media mdc-card__media--square"
                                     [style.backgroundImage]="'url(' + (team.image | imageSrc) + ')'">
                                </div>
                                <div class="card__primary">
                                    <h2 class="card__title mdc-typography mdc-typography--headline5">{{team.name}}</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </app-fafa-container-content>
</app-fafa-container>
