.country-list {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  a {
    text-decoration: none;
    color: inherit;
    :hover {
      color: inherit !important;
      text-decoration: none !important;
    }
  }
  .card__primary {
    padding: 5px 15px 0 15px;
    white-space: nowrap;
  }
}
