<section id="header" class="country-list-header">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">{{ 'Countries' | translate }}</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<ngb-tabset #t="ngbTabset">
    <ngb-tab title="{{ 'All' | translate }}" id="foo">
        <ng-template ngbTabContent>
            <div class="row" *ngIf="countries">
                <div class="col-sm-12">
                    <div class="card-deck" *ngFor="let row of countries | chunk: 4">
                        <app-country-card *ngFor="let country of row" [country]="country"
                                          class="card"></app-country-card>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab *ngFor="let item of table" title="{{ item.federation }}" >
        <ng-template ngbTabContent>
            <div class="row" *ngIf="item.countries">
                <div class="col-sm-12">
                    <div class="card-deck" *ngFor="let row of item.countries | chunk: 4">
                        <app-country-card *ngFor="let country of row" [country]="country" class="card">
                        </app-country-card>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>
<section id="hover-effects" class="country-list">

</section>
