<app-fafa-container>
    <app-fafa-container-header>
        <fafa-breadcrumb [items]="breadcrumb"></fafa-breadcrumb>
    </app-fafa-container-header>
    <app-fafa-container-content>
        <mat-tab-group *ngIf="federations">
            <mat-tab label="{{ 'All' | translate }}">
                <div class="country-list" *ngIf="countries">
                    <app-country-card *ngFor="let country of countries" [country]="country"></app-country-card>
                </div>
            </mat-tab>
            <ng-container *ngFor="let federation of federations">
                {{federation.shortname}}
            </ng-container>
            <mat-tab *ngFor="let federation of federations" label="{{ federation.shortname }}">
                <div class="country-list" *ngIf="countries">
                    <app-country-card *ngFor="let country of filterCountries(federation)" [country]="country"></app-country-card>
                </div>
            </mat-tab>
        </mat-tab-group>
    </app-fafa-container-content>
</app-fafa-container>

