.mdc-card {
  text-align: center;
  figure.fig-federation {
    width: 230px;
    height: 265px;
    overflow: hidden;
    margin: 0;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;

    img {
      display: block;
      width: 100%;
      margin: 0;
    }
  }
}

