<div class="row" *ngFor="let chunk of chunkedArr">
    <div class="{{attributes}} col-12" *ngFor="let federation of chunk">
        <a class="link-federation" (click)="navigateFederation(federation)">
        <div class="card" >
            <div class="card text-center">
                <div class="card-body">
                    <div class="card-block">
                        <figure class="fig-federation">
                            <img src="{{ prepareImageSrc(federation.image) }}" alt="element 02" class="mb-1">
                        </figure>
                        <h3 class="card-title">{{federation.shortname}}</h3>
                        <p class="card-text">456 countries</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
    </div>
</div>
