<section id="weather-examples">
    <div class="row">
        <div class="col-12 mt-3 mb-1">
            <div class="content-header">{{ 'Recent stories' | translate }}</div>
        </div>
    </div>

    <div class="row" matchHeight="card">
        <div class="col-lg-6 col-md-12 col-sm-12" *ngFor="let article of articles.slice(0,limit)">
            <div class="card">
                <div class="card-body">
                    <div class="card-img">
                        <img class="card-img-top img-fluid" src="" alt="Card image cap">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">{{article.title}}</h4>
                        <p class="card-text">{{article.body}}</p>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-raised btn-primary" (click)="goToArticle(article)">{{'See more' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-2" *ngIf="articles.length > limit">
            <button class="btn btn-raised btn-primary" (click)="seeMore(4)">{{ 'See more' | translate }}</button>
        </div>
        <div class="col-sm-5"></div>
    </div>
</section>
