@import '~@angular/material/theming';
@include mat-core();

$fafas-primary: mat-palette($mat-blue-grey, 200, 600);
$fafas-accent:  mat-palette($mat-light-blue, 500, 900, A100);
$fafas-warn:    mat-palette($mat-orange, 300, 700);

$fafas-theme: mat-light-theme($fafas-primary, $fafas-accent, $fafas-warn);

@include angular-material-theme($fafas-theme);