<a [routerLink]="[country.id]">
    <div class="card-wrapper">
        <div class="mdc-card">
            <div class="mdc-card__primary-action">
                <div class="mdc-card__media mdc-card__media--16-9 demo-card__media"
                     [style.backgroundImage]="'url(' + (country.image | imageSrc) + ')'">
                </div>
                <div class="card__primary">
                    <h2 class="card__title mdc-typography mdc-typography--headline6">{{country.name}}</h2>
                </div>
            </div>
        </div>
    </div>
</a>
