.hidden {
  display: none;
}

datatable-body-row {
  .active {
    background-color: #008AAD;
    .datatable-row-group {
      background-color: #008AAD;
    }
    datatable-body-cell {
      color: #ffffff;
      font-weight: bold;
      .datatable-body-cell-label {
        color: #ffffff;
        font-weight: bold;
        strong {
          color: #ffffff;
          font-weight: bold;
        }
      }
    }
  }
}
