@import '~@angular/material/theming';
@import "~src/assets/footballapp";

$app-primary: mat-palette($accent);
$color-primary: mat-color($app-primary);

.table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 50%;
}
table {
  .selected {
    background-color: $color-primary;
  }
}

